.lasagna_image{
        border-radius: 30px;
        position: fixed;
        right: 50px;
        bottom: 30px;
        width: 400px;
        height: 300px;
}

.description_lasagna{
        text-align: center;
        border: 5px outset red;
        background-color:darkgray;
        border-radius: 20px;
}

.dtext{
       font-size: 20px;
}

.bodyl{
        background-color:antiquewhite;
}

.mangulink,.mainlink{
        font-weight: bolder;    
}

ol,ul,p{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
